<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/webgazer.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/ml5@0.6.0/dist/ml5.min.js" type="text/javascript"></script>

    <script src="js/jquery.min.js"></script>
    <script>
        let canvas
        let webcam_output
        let width = $(window).width() > 880 ? 880 : $(window).width()
        let height = width * 3 / 4
        function setup(){
            canvas = createCanvas(width, height)
            webcam_output = createCapture(VIDEO);
            webcam_output.hide()
            var loc_array = {}
        let start = new Date()
        
        // variable to count the number of undefines (used for ratio of distraction)
        var distracted = 0 // should be up here if it should be reset by the user
        let check_time_length =  300// 300 representing 5 minutes

        webgazer.setVideoElementCanvas(canvas)
        webgazer.setGazeListener(function(data) {
            var now = new Date()

            time_diff = Math.round((now - start) / 1000)
            //console.log(time_diff)
            //console.log(data)
            if (data !== null) {
                var xprediction = data.x; //these x coordinates are relative to the viewport
                var yprediction = data.y; //these y coordinates are relative to the viewport
                loc_array[time_diff] = [xprediction, yprediction]
                //console.log(xprediction, yprediction)
            } else {
                loc_array[time_diff] = [undefined, undefined]
            }
            
            let check_time = time_diff - check_time_length

            if (check_time in loc_array) {
                distracted = 0
                console.log("start")
                for (let i=0; i < check_time_length; i++) {
                    loc_item = loc_array[time_diff-i]
                    if (typeof loc_item == "undefined") {
                        distracted++ // if undefined, user is "distracted in that second"
                    } else if (loc_item[0] < 0 || loc_item[1] < 0) {
                        distracted++ // out of screen
                    } else if (loc_item[0]/$(window).width() > 1 || loc_item/$(window).height() > 1) { // adjusted screen ratios too preference
                        distracted++ // out of screen
                    }
                }
                let ratio_of_distraction = distracted / check_time_length
                console.log(ratio_of_distraction)
                console.log("end")
                if(ratio_of_distraction>0.9){
                    alert("distracted")
                }
            }
        }).begin();
        }
        function draw(){
            image(webcam_output, 0, 0, width, height);
        }
        
        //webgazer.showVideoPreview(false).showPredictionPoints(false)
    </script>
</head>
<body>
    
</body>
</html>